@import 'tailwindcss';

@theme {
    --font-instrument-serif: "Instrument Serif", serif;
    --font-instrument-sans: "Instrument Sans", sans-serif;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
    transition:
        opacity 0.3s,
        transform 0.3s;
}
.slide-fade-enter,
.slide-fade-exit-to {
    transform: translateX(-10px);
    opacity: 0;
}
.slide-fade-enter {
    transform: translateX(10px);
}
